#black{
    background-color: black;
}
#green{
    background-color: green;
}

#red{
     background-color: red;
}
#blue{
    background-color: blue;
}

.color{
    display:inline-block;
    border-style: solid;
    width: 100px; height: 100px;
    border-width: 1px;

}
.pixel{
   
    width: 40px; height: 40px;
    border: 1px solid black;
    display:inline-block;
    background-color: white;
    margin: -0.5px;

    
    
}
#pixel-board{
    width: 210px; height: 210px; 
    font-size: 0;
}



